.App {
  text-align: center;
  display: flex;
  position: relative;
}

.grid {
  display: flex;
  flex-direction: column;
  padding: 15px 50px 15px 15px;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell-parent {
  position: relative;
  width: 70px;

  // setting css of all descendant html input tags inside .cell-parent
  input {
    padding: 7px;
    font-size: 15px;
    box-sizing: border-box;
    height: auto;
  }
}

// when .cell-parent is selected, update the css of its descendant divs
.cell-parent:focus-within {
  > div {
    position: absolute;
    left: 0;
    z-index: 10;
    background-color: #fff;
    > div {
      min-width: 125px;
      height: 40px;
    }
  }
  input {
    text-align: left;
  }
}

.cell {
  display: flex;
}

.cell > div {
  border-radius: 0px;
}

.label-cell {
  input {
    text-align: center;
  }
}

.input-cell {
  input {
    text-align: right;
  }
}
